<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Nubz</title>
  </head>
  <body>
		<h1>About</h1>
		<p>Nubz is a cafe and pub opened in Sector 26 backside Madhya Marg SCO-3</p>
	</body>
</html>
