<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Nubz</title>
  </head>
  <body>
		<h1>Manasvi Kumar</h1>
		<p>For queries contact - Manasvi Kumar +918566000113</p>
	</body>
</html>
	
